
body {
	width: 990px;
	font-family: arial;
	font-size: 15px;
	text-align: justify;
	margin: 10px auto;	
}
#Dados{
	display: none;
	font-size: 16px;
}
.titulo{
	font-family: verdana;
	font-size: 18px;
	text-align: justify;
	color:#EE7621;
}

.esconder{
	display: none;
}
.mostrar{
	display: block;
}
